
/* Atom theme */

:root {

  /* Colors --------------------------------- */

  --hue: 220;
  --saturation: 30%;
  --lightness: 16%;


  /* Main UI */

  --fg-strong:    hsl( var(--hue), var(--saturation), calc( var(--lightness) + 80%) );
  --fg:           hsl( var(--hue), var(--saturation), calc( var(--lightness) + 50%) );
  --fg-subtle:    hsl( var(--hue), var(--saturation), calc( var(--lightness) + 30%) );

  --bg:           hsl( var(--hue), var(--saturation), var(--lightness) );
  --bg-selected:  hsl( var(--hue), var(--saturation), calc( var(--lightness) + 6%) );

  --border-color: hsl( var(--hue), var(--saturation), calc( var(--lightness) - 8%) );


  /* States */
  
  --accent-fg: hsl(187, 100%, 50%);
  --accent-bg: hsl(187,  80%, 40%);
  
  --success-fg: hsl(132,  60%, 55%);
  --success-bg: hsl(132,  60%, 44%);
  
  --warning-fg: hsl( 37,  90%, 70%);
  --warning-bg: hsl( 37,  90%, 44%);
  
  --error-fg:   hsl(  0,  90%, 66%);
  --error-bg:   hsl(  0,  90%, 56%);

  --state-fg:white; /* Text on state bg colors, make sure contrast is high enough */
  

  /* Editor */

  --editor-h: var(--hue);
  --editor-s: var(--saturation);
  --editor-l: calc( var(--lightness) + 6%);
  --editor-bg: hsl( var(--editor-h), var(--editor-s), var(--editor-l) );
  --editor-selection: hsl( var(--editor-h), var(--editor-s), calc( var(--editor-l) + 10%) );
  --editor-guide: hsl( var(--editor-h), var(--editor-s), calc( var(--editor-l) + 12%) );


  /* Syntax */

  --syntax:             hsl( var(--hue), 20%, 90%);

  --syntax-variable:   hsl(191, 91%, 73%);
  --syntax-constant:   hsl( 48, 71%, 76%);
  --syntax-property:   hsl(  5, 91%, 73%);
  --syntax-value:      hsl(286, 82%, 79%);
  --syntax-function:   hsl(212, 99%, 75%);
  --syntax-method:     hsl(212, 99%, 75%);
  --syntax-class:      hsl(191, 91%, 73%);
  --syntax-keyword:    hsl(118, 69%, 78%);
  --syntax-string:     hsl( 88, 69%, 78%);
  --syntax-tag:        hsl( var(--hue), 60%, 88%);
  --syntax-attribute:  hsl( var(--hue), 40%, 70%);

  --syntax-punctuation: hsl( var(--hue), 10%, 60%);
  --syntax-comment:     hsl( var(--hue), 15%, 50%);
}


:root {

  /* Typography --------------------------------- */

  --font-size:    12px;
  --font-family:  'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  --font-height:  1.5;


  /* Layout --------------------------------- */

  --bar-height: 28px; /* Used for tabs, status-bar */

  --spacer:    8px; /* default */

  --spacer-0:    0;
  --spacer-1:  4px;
  --spacer-2:  8px;
  --spacer-3: 12px;
  --spacer-4: 24px;
  --spacer-5: 32px;
  --spacer-6: 40px;


  /* Misc --------------------------------- */

  --border:         1px solid var(--border-color);
  --border-radius:  3px;
}
